#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

input, button {
    margin: 5px;
    font-size: 15px;
}

.result {
    color: blue;
    font-size: 18px;
}

.error {
    color: red;
    font-size: 18px;
}